<div class="col-9 main-content">
  <div class="new-title">New Album</div>
  <hr/>
  <%= form_with model: @album , class: "form-create" do |form| %>
    <div class="row">
      <div class="col col-left">
        <div class="form">
          <%= form.label "Title",
              for: "fname-input",
            class: "form-label" %>
          <%= form.text_field :title ,
              class: "form-control",
              id: "fname_input",
              placeholder: "Photo title" %>
        </div>
        <div class="sharing">
          <%= form.label "Sharing mode",
              for: "sharing_mode",
            class: "form-label" %>
          <%= form.select :is_public, [["Public", true], ["Private", false]], selected: "Public", id: "sharing_mode" %>
        </div>
      </div>
      <div class="col col-right">
        <div class="form">
          <%= form.label "Description",
              for: "lname-input",
            class: "form-label" %>
          <%= form.text_area :description ,
              class: "form-control",
              id: "lname_input",
              placeholder: "Photo description" %>
        </div>
      </div>
    </div>

    <div class="row gx-1 gy-4 list-photos">
      <div class="col-3 d-flex justify-content-center">
        <div class="form_image_upload">
          <div class="btn_upload", id="btn_create_album">
          <%= form.file_field :pictures, accept: "image/jpeg, image/gif, image/png, image/jpg", id: "upload_image_album", multiple: true %>
          <i class="fa-solid fa-plus"></i>
          </div>
        </div>
      </div>
    </div>

    <div>
      <%= form.submit "Save",  
        class: "btn btn-primary",
        id: "btn-save" %>
    </div>

  <% end %>
</div>