<div class="col-9 main-content">
  <div class="new-title">Edit Photo</div>
  <hr/>
  <%= form_with model: @photo , url: admin_photo_path(@photo), class: "form-create" do |form| %>
    <div class="row">
      <div class="col col-left">
        <div class="form">
          <%= form.label "Title",
              for: "fname-input",
            class: "form-label" %>
          <%= form.text_field :title ,
              class: "form-control",
              id: "fname_input",
              placeholder: "Photo title" %>
        </div>
        <div class="sharing">
          <%= form.label "Sharing mode",
              for: "sharing_mode",
            class: "form-label" %>
          <%= form.select :is_public, [["Public", true], ["Private", false]], selected: "Public", id: "sharing_mode" %>
        </div>
      </div>
      <div class="col col-right">
        <div class="form">
          <%= form.label "Description",
              for: "lname-input",
            class: "form-label" %>
          <%= form.text_area :description ,
              class: "form-control",
              id: "lname_input",
              placeholder: "Photo description" %>
        </div>
      </div>
    </div>

    <div class="form_image_upload">
      <div class="btn_edit", id= "btn_edit">
        <%= form.file_field :picture, accept: "image/jpeg, image/gif, image/png, image/jpg", id: "edit_image" %>
        <i class="fa-solid fa-plus"></i>
      </div>
      <%= image_tag @photo.picture.url , id: "imgFoto2"  %>
    </div>

    <div class="list-btn">
      <%= form.submit "Save",  
          class: "btn btn-success",
          id: "btn-save" %>

      <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                data-bs-target="#deleteModal">Delete</button>
    </div>

  <% end %>

</div>


<div class="modal" tabindex="-1" id="deleteModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirm deletion</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p> The following image will be deleted </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <%= button_to "Delete",  photo_path(@photo),  method: "delete", class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>
