<% content_for :head do %>
    <%= javascript_import_module_tag "preview_image" %>
<% end %>


<div class="col-9 main-content">
  <div class="new-title">New Photo</div>
  <hr />
  <%= form_with model: @photo , class: "form-create" do |form| %>
    <div class="row">
      <div class="col col-left">
        <div class="form">
          <%= form.label "Title",
              for: "fname-input",
            class: "form-label" %>
          <%= form.text_field :title ,
              class: "form-control",
              id: "fname_input",
              placeholder: "Photo title" %>
        </div>
        <div class="sharing">
          <%= form.label "Sharing mode",
              for: "sharing_mode",
            class: "form-label" %>
          <%= form.select :is_public, [["Public", true], ["Private", false]], selected: "Public", id: "sharing_mode" %>
        </div>
      </div>
      <div class="col col-right">
        <div class="form">
          <%= form.label "Description",
              for: "lname-input",
            class: "form-label" %>
          <%= form.text_area :description ,
              class: "form-control",
              id: "lname_input",
              placeholder: "Photo description" %>
        </div>
      </div>
    </div>

    <div class="form_image_upload">
      <div class="btn_upload", id="btn_create">
        <%= form.file_field :picture, accept: "image/jpeg, image/gif, image/png, image/jpg", id: "upload_image" %>
        <i class="fa-solid fa-plus"></i>
      </div>

        <img id="imgFoto">

    </div>

    <div>

     <div class="list-btn">
      <%= form.submit "Save",  
          class: "btn btn-success",
          id: "btn-save" %>
    </div>

    </div>
  <% end %>

</div>

