<div class="main-content" data-admin-target="id">
  <table class="table table_user">
    <thead>
      <tr>
        <th scope="col" style="width: 20%">FirstName</th>
        <th scope="col" style="width: 20%">LastName</th>
        <th scope="col" style="width: 20%">Email</th>
        <th scope="col" style="width: 20%">Active</th>
        <th scope="col" style="width: 20%"></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <th scope="row"><%= user.first_name %></th>
          <td class="w-20"><%= user.last_name %></td>
          <td class="w-20"><%= user.email %></td>
          <td class="w-20"><%= user.active %></td>
          <td class="w-20">
            <div
              class="btn-group"
              role="group"
              aria-label="Basic example"
            >
              <%= button_to "Edit", edit_admin_user_path(user.id), method: "get", class: "btn btn-success" %>
              <button
                type="button"
                class="btn btn-danger"
                data-bs-toggle="modal"
                data-bs-target=<%= "#deleteModal#{user.id}" %>
              
              >
                Delete
              </button>
            </div>
          </td>
        </tr>

        <div class="modal" tabindex="-1" id=<%= "deleteModal#{user.id}" %> > 
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Confirm delete</h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <p>
                  user will be deleted</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <%= button_to "Delete", admin_user_path(user.id),  method: "delete", class: "btn btn-danger", "data-admin-target": "output" %>
              </div>
            </div>
          </div>
        </div>

      <% end %>
    </tbody>
  </table>
<%= paginate @users %>
</div>
